In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv("home data")

In [3]:
df

            x          y
0   48.955889  60.723602
1   44.687196  82.892504
2   60.297327  97.379897
3   45.618644  48.847153
4   38.816818  56.877213
..        ...        ...
94  50.030174  81.536991
95  49.239765  72.111832
96  50.039576  85.232007
97  48.149859  66.224958
98  25.128485  53.454394

[99 rows x 2 columns]

In [4]:
df.head()

           x          y
0  48.955889  60.723602
1  44.687196  82.892504
2  60.297327  97.379897
3  45.618644  48.847153
4  38.816818  56.877213

In [5]:
df.shape

(99, 2)

In [6]:
x = df['x']
y = df['y']

# Gradient descent in machine learnig

In [7]:
#first step(m = Gradient, c = Intercept, L = Learning_rate)
m = 0
c = 0
Learning_rate = 0.0001
n = int(len(x))
iterations = 1000
#second step
for i in range(iterations):
    prediction_y = m * x + c
    derivetives_m = (-2/n) * sum(x*(y-prediction_y))
    derivetives_c = (-2/n) * sum(y-prediction_y)
#final work
    m = m - Learning_rate * derivetives_m
    c = c - Learning_rate * derivetives_c
print("Value of m:",m)
print("Value of c:",c)

Value of m: 1.4796491688881985
Value of c: 0.10148121497503648

# Make prediction

In [8]:
x = 38.816818
y = 1.4796491688881985 * x + 0.10148121497503648

In [9]:
y

57.5367537075595